$offers-display-desktop-min-size: 1000px;
$offers-display-desktop-plus: (
  min-width: $offers-display-desktop-min-size,
);

$offers-display-desktop-down: (
  max-width: $offers-display-desktop-min-size - 1,
);

.offers-display {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  @media #{$offers-display-desktop-plus} {
    flex-direction: row;
  }
}

.leaflet-container {
  flex: 1;
}

.filter-bar-container {
  position: relative;
}

.collapse-expand-label {
  position: absolute;
  width: 2em;
  height: 2em;
  bottom: 100%;
  left: 1em;
  z-index: 10000;
  background: white;
  cursor: pointer;

  @media #{$offers-display-desktop-plus} {
    left: 100%;
    top: 1em;
    bottom: unset;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0.5em;
    top: 0.5em;

    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid black;
    border-bottom: none;
    transform: translate(0, 50%);

    @media #{$offers-display-desktop-plus} {
      border-top: 0.5em solid transparent;
      border-bottom: 0.5em solid transparent;
      border-right: 0.5em solid black;
      border-left: none;
      transform: translate(50%, 0);
    }
  }
}

.collapse-expand-input:not(:checked) + .collapse-expand-label:before {
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  border-bottom: 0.5em solid black;
  border-top: none;

  @media #{$offers-display-desktop-plus} {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-left: 0.5em solid black;
    border-right: none;
  }
}

.collapse-expand-input {
  visibility: hidden;
  position: absolute;
}

.collapse-expand-input:not(:checked) + .collapse-expand-label + .filter-bar {
  display: none;
}

.filter-bar {
  overflow-y: scroll;
  padding: 1.45rem;
  min-width: 20rem;

  @media #{$offers-display-desktop-down} {
    max-height: 230px;
  }

  input[type="number"] {
    max-width: 5.5em;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lightslategrey;
  }
}

.price-container {
  display: flex;
}

.price-container span {
  margin: 0 0.5em;
}

.room-container {
  column-count: 3;

  > label {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }
}

.filter-bar input[type="checkbox"] {
  margin-right: 0.4rem;
}
