$offers-display-desktop-min-size: 1000px;
$offers-display-desktop-plus: (
  min-width: $offers-display-desktop-min-size,
);

.offers-display {
  height: 100%;
  padding: 1px + 2px;
  display: flex;
  flex-direction: column-reverse;

  @media #{$offers-display-desktop-plus} {
    flex-direction: row;
  }
}

.leaflet-container {
  flex: 1;
}

.filter-bar {
  padding: 2em;
}

.price-container {
  display: flex;
}

.price-container span {
  margin: 0 0.5em;
}

.price-container input {
  max-width: 5.5em;
}

.room-container {
  display: flex;
  flex-direction: column;
}

.room-container label {
  user-select: none;
}

.filter-bar input[type="checkbox"] {
  margin-right: 0.4rem;
}
