.offers-display {
  height: 100%;
  display: flex;
}

.leaflet-container {
  flex: 1;
}

.filter-bar {
  padding: 2em;
}

.price-container {
  display: flex;
}

.price-container span {
  margin: 0 0.5em;
}

.price-container input {
  max-width: 4em;
}
