.front-page {
  padding: 1em;
}

.options-container {
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="radio"] {
    margin: 0 0.4em;
  }
}

.toOfferPage {
  display: inline-block;
  margin-top: 1.45rem;
}
